@use "colors";

footer {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font: 500 0.75rem/1rem "Montserrat", sans-serif;
    color: colors.$light-gray;

    a {
      font-weight: 700;
      text-decoration: none;
      color: colors.$dark-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
