@use "colors" as c;

header {
  height: 100px;
  display: flex;
  align-items: center;

  h1 {
    font: 700 1.5rem "Inconsolata", monospace;
    text-transform: uppercase;
    color: c.$dark-gray;
  }
}

@media screen and (max-width: 599.98px) {
  header {
    height: 64px;
  }
}
