.main {
  max-height: calc(
    100vh - 11.5rem
  ); /* 100vh - 184px -> header (60px) + gap (32px) + gap (32px) + footer (60px) */

  &__image {
    width: 100%;
    max-width: 38.5rem; /* 616px */

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__text {
    width: 100%;
    max-width: 38.5rem; /* 616px */

    h2 {
      font-size: 4rem; /* 64px */
    }

    p {
      font-size: 1.5rem; /* 24px */
      line-height: 1.25;
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    max-height: initial;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__text {
      h2 {
        font-size: 3rem; /* 48px */
      }

      p {
        font-size: 1rem; /* 16px */
      }

      a.btn {
        margin: 0 auto;
      }
    }
  }
}
