.inconsolata {
  &-700 {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
  }
}

.spacemono {
  &-700 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
  }
}

.montserrat {
  &-500 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
}

.uppercase {
  text-transform: uppercase;
}
