@use "variables" as v;

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: v.$white;
  padding: 0 10px;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // padding: 40px 20px 24px;
  // margin: 0 auto;
}

.btn {
  background-color: v.$gray-dark;
  padding: 20px 40px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: v.$white;
}
