@use "colors" as c;

header {
  height: 100px;
  display: flex;
  align-items: center;

  h1 {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: c.$gray-dark;
  }
}

@media screen and (max-width: 599.98px) {
  header {
    height: 64px;
  }
}
