@use "variables" as v;

main {
  height: 640px;
  display: flex;
  align-items: center;
  gap: 20px;

  div:first-child {
    width: 50%;

    img {
      width: 100%;
    }
  }

  div:last-child {
    max-width: 50%;
    display: grid;
    gap: 40px;
    justify-items: left;

    h2,
    p {
      font-family: "Space Mono", monospace;
    }

    h2 {
      max-width: 540px;
      font-weight: 700;
      font-size: 4rem;
      line-height: 4.5rem;
      color: v.$gray-dark;
    }

    p {
      max-width: 460px;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: v.$gray-medium;
    }
  }
}

@media screen and (max-width: 599.98px) {
  main {
    height: auto;
    flex-direction: column;
    gap: 40px;
    align-items: unset;
    margin: 64px 0;

    div:first-child {
      width: 100%;
    }

    div:last-child {
      max-width: 100%;

      h2 {
        font-size: 3rem;
        line-height: 3.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
