@use "colors" as c;

main {
  height: 640px;
  display: flex;
  align-items: center;
  gap: 20px;

  div:first-child {
    width: 50%;

    img {
      width: 100%;
    }
  }

  div:last-child {
    max-width: 50%;
    display: grid;
    gap: 40px;
    justify-items: left;

    h2 {
      max-width: 540px;
      font: 700 4rem/4.5rem "Space Mono", monospace;
      color: c.$dark-gray;
    }

    p {
      max-width: 460px;
      font: 1.5rem/2.25rem "Space Mono", monospace;
      color: c.$medium-gray;
    }
  }
}

@media screen and (max-width: 599.98px) {
  main {
    height: auto;
    flex-direction: column;
    gap: 40px;
    align-items: unset;
    margin: 64px 0;

    div:first-child {
      width: 100%;
    }

    div:last-child {
      max-width: 100%;

      h2 {
        font: 700 3rem/3.5rem "Space Mono", monospace;
      }

      p {
        font: 1rem/1.5rem "Space Mono", monospace;
      }
    }
  }
}
