@use "variables" as v;

// main content
main,
.img,
div {
  display: flex;
}

.img,
div {
  flex-direction: column;
}

main,
div {
  justify-content: space-between;
}

h2,
button {
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

button {
  text-transform: uppercase;
}

h2 {
  color: v.$gray-dark;
}

.img {
  max-width: 50%;
  justify-content: center;
}

img {
  max-width: 100%;
}

div {
  align-items: flex-start;
}

h2,
p,
button {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.035em;
}

h2 {
  max-width: 586px;
  font-size: 4rem;
  line-height: 6rem;
}

p {
  color: v.$gray-medium;
}

p {
  max-width: 381px;
  line-height: 2.25rem;
}

button {
  font-size: 0.875rem;
}

button {
  width: 216px;
  height: 68px;
  line-height: 1.3125rem;
  color: v.$bg-color;
  background-color: v.$gray-dark;
  cursor: pointer;
}

// footer

// breakpoints
@media screen and (max-width: 1440px) {
  // main content
  main {
    margin-bottom: 40px;
    gap: 40px;
  }

  div:nth-child(2) {
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  // main content
  main {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
